<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ViRenNetworking.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>473AF1021E5A8C2D00A2168D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>473AF11B1E5A8C2D00A2168D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>473AF1261E5A8C2D00A2168D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
